.box{
    height:500px;
    width: 500px;
   background-image: url('./12.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   border: 10px solid black;
   background-origin:padding-box;
   
    
}

