*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
li{
    text-decoration: none;
}
header{
    background-color: bisque;
}
.row{
    display: flex;
}
header .col-4{
    width: 33.33%;
}
header .col-8{
    width: 66.66%;
}
header .col-8 ul li{
    display: inline-block;
}
header .col-8 ul li a{
    display: block;
}
nav{
    
}